<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-card class="example-card">
  <!-- <button style="width: 100%;height: 100%;">
    <mat-icon mat-button style="fill:grey;color:grey;font-size:90px;">add_circle_outline</mat-icon>
  </button> -->
  <button mat-button style="fill:grey;color:grey;text-align:center;width:100%;height:100%;border-style: dotted;" onmouseover="this.style.color='DeepSkyBlue';this.style.fill='DeepSkyBlue';"
      onmouseout="this.style.color='grey';this.style.fill='grey';">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
</mat-card>
