<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      Aswesome Cat
    </mat-card-title>
    <mat-card-subtitle>Poster</mat-card-subtitle>
    <button mat-button style="fill:grey;color:grey;position:absolute;right:1px;" onmouseover="this.style.color='red';this.style.fill='red';"
      onmouseout="this.style.color='grey';this.style.fill='grey';">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <div class="card-image-holder">
    <img mat-card-image src="assets/background.jpg" alt="Photo the cutest cat" class="card-image">
  </div>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="fill:grey;color:grey;" onmouseover="this.style.color='DeepSkyBlue';this.style.fill='DeepSkyBlue';"
      onmouseout="this.style.color='grey';this.style.fill='grey';">
      <mat-icon>mouse</mat-icon>
    </button>
    <button mat-button style="fill:grey;color:grey;" onmouseover="this.style.color='DeepSkyBlue';this.style.fill='DeepSkyBlue';"
      onmouseout="this.style.color='grey';this.style.fill='grey';">
      <mat-icon>ondemand_video</mat-icon>
    </button>
    <button mat-button style="fill:grey;color:grey;" onmouseover="this.style.color='red';this.style.fill='red';"
    onmouseout="this.style.color='grey';this.style.fill='grey';">
    <mat-icon>power_off</mat-icon>
  </button>
  </mat-card-actions>
</mat-card>
